# Etude sur la malnutrition basée sur les données de la FAO

Source : http://www.fao.org/faostat/en/#home

# Document B
___

## ✓ Formatage des données
## ✓ Import en base de données  MySQL
## ✓ Requêtage

# Part 0

## Objectifs

- Import des librairies
- Création des fonctions facilitant la connexion et la communication avec MySQL
- Création d'une base de données vierge

___

## Code et résultats

In [1]:
# Libraries import

import random
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import mysql.connector
from pandas.io import sql
from sqlalchemy import create_engine
from IPython.display import display

# Configuration

pd.set_option("display.max_columns", 100)
pd.set_option("display.max_rows", 1000)

# Global variables and objects

dbhost = 'localhost'
dbuser = 'root'
dbpasswd = '*******'
dbdb = 'ocproject3'

pwd = !pwd
pwd = pwd[0]

engine = create_engine(f"mysql+pymysql://{dbuser}:{dbpasswd}@localhost/{dbdb}")

# Useful fonctions

def to_int(x):
    return int(round(x,0))

def from_df_to_sql(df, table):
    """ Insert a Pandas DataFrame in a SQL table"""
    
    df.to_sql(con=engine, name=table, if_exists='append', index=False)
    
def drop_a_table(table):
    """ Drop the SQL table passed in argument."""
    
    try:
        mydb = mysql.connector.connect(
            host=dbhost,
            user=dbuser,
            passwd=dbpasswd,
            database=dbdb
        )

        mycursor = mydb.cursor()

        mycursor.execute(f"""
            DROP TABLE IF EXISTS {table}
            """
        )
        
        mydb.commit()
    
    except Exception as e:
        print(e)

    mydb.close() 

def sql_request(request, read=False):
    """
    Execute the SQL request passed in argument.
    If read=True, the function returns the result.
    """
    
    try:
        mydb = mysql.connector.connect(
            host=dbhost,
            user=dbuser,
            passwd=dbpasswd,
            database=dbdb
        )

        mycursor = mydb.cursor()
        mycursor.execute(request)
        
        if read == False:
            mydb.commit()
            myresult = True
            
        elif read == True:
            myresult = mycursor.fetchall()
        
        mydb.close()
        return myresult

    except Exception as e:
        mydb.close()
        return e
    
def read_result(result):
    try:
        print("Result OK:")
        print(" ")
        for row in result:
            print(row)

    except:
        print("Error:")
        print(" ")
        print(result)

In [2]:
# Database Creation

try:

    mydb = mysql.connector.connect(
        host=dbhost,
        user=dbuser,
        passwd=dbpasswd
    )

    mycursor = mydb.cursor()
    mycursor.execute(f"DROP DATABASE IF EXISTS {dbdb}")
    mycursor.execute(f"CREATE DATABASE {dbdb}")

except Exception as e:
    print(e)

mydb.close()

# Part 15

## Objectifs

- Création d'une table "population" contenant le nombre d'habitants par pays et par année
- Détermination d'une clé primaire pertinente

___

## Méthode

- J'importe les données depuis le site de la FAO
- Je crée un dataframe 
- Je crée une table au sein de MySQL
- J'importe le dataframe dans MySQL

___

## Code et résultats

In [1]:
##########################
# Create the DataFrame
##########################

p2pop_csv = pd.read_csv("data/part2-population.csv")

p2pop = pd.DataFrame(p2pop_csv, columns=['Code Pays', 'Année', 'Pays', 'Valeur'])

col_names = {
    'Pays': 'country',
    'Code Pays': 'country_code_pk1',
    'Année': 'year_pk2',
    'Valeur': 'population'
}

p2pop.rename(columns=col_names, inplace=True)

p2pop['population'] = p2pop['population'] * 1000

####################################################
# Create the MySQL Table and import the dataframe
####################################################

the_table = 'population'

drop_a_table(the_table)

the_request = f"""
        CREATE TABLE {the_table} (
        country_code_pk1 SMALLINT UNSIGNED NOT NULL,
        year_pk2 SMALLINT UNSIGNED NOT NULL,
        country VARCHAR(60) NOT NULL,
        population INT UNSIGNED,
        PRIMARY KEY (country_code_pk1, year_pk2)
        )
        ENGINE=INNODB
    """

sql_request(the_request)

# Import the dataframe
from_df_to_sql(p2pop, the_table)

# Check if the table is OK
the_rows = sql_request(f"SELECT * FROM {the_table} LIMIT 10", read=True)
read_result(the_rows)

NameError: name 'pd' is not defined

# Part 16

## Objectifs

- Création d'une table "dispo_alim" contenant les informations sur la disponibilité alimentaire des différents produits.
- Détermination d'une clé primaire pertinente

___

## Méthode

- J'importe les données depuis le site de la FAO
- Je crée un dataframe 
- Je crée une table au sein de MySQL
- J'importe le dataframe dans MySQL

___

## Code et résultats

In [15]:
##########################
# Create the DataFrame
##########################

df_columns = ['Pays', 'Code Pays', 'Année', 'Produit', 'Code Produit', 'Élément', 'Valeur']

# Vegetable products
df_vegetable_products = pd.read_csv("data/part2-vegetable-food.csv")[df_columns]
df_vegetable_products['food_origin'] = 'vegetable'

# Animal products
df_animal_products = pd.read_csv("data/part2-animal-food.csv")[df_columns]
df_animal_products['food_origin'] = 'animal'

# Combine the two dataframes
df_list = [df_vegetable_products, df_animal_products]
q16_df = pd.concat(df_list)
q16_df.reset_index(drop=True, inplace=True)

# Pivot
q16_df = pd.pivot_table(
            q16_df,
            index=['Pays', 'Code Pays', 'Année', 'Produit', 'Code Produit', 'food_origin'],
            values='Valeur',
            columns='Élément',
            aggfunc = np.sum
        )
q16_df.reset_index(inplace=True)

# Rename columns

new_col_names = {
    'Pays': 'country',
    'Code Pays': 'country_code_pk1',
    'Année': 'year_pk3',
    'Produit': 'product',
    'Code Produit': 'product_code_pk2',
    'food_origin': 'food_origin',
    'Disponibilité alimentaire (Kcal/personne/jour)': 'kcal_supply',
    'Disponibilité de matière grasse en quantité (g/personne/jour)': 'fat_supply',
    'Disponibilité de protéines en quantité (g/personne/jour)': 'prot_supply',
    'Disponibilité alimentaire en quantité (kg/personne/an)': 'quantity_supply'
    
}

q16_df.rename(columns=new_col_names, inplace=True)

# Merge the population
temp_df = pd.DataFrame(p2pop, columns=['year_pk2', 'country_code_pk1', 'population'])
q16_df = q16_df.merge(temp_df, how='left', left_on=['country_code_pk1', 'year_pk3'], right_on=['country_code_pk1', 'year_pk2'])
q16_df.drop_duplicates(inplace=True)

# Create a new column
q16_df['tons_supply'] = q16_df['quantity_supply'] * q16_df['population'] / 1000
q16_df.drop(axis=1, labels=['quantity_supply'], inplace=True)

# Clean
q16_df = q16_df[['country_code_pk1', 'product_code_pk2', 'year_pk3', 'country', 'population', 'product', 'food_origin', 'tons_supply', 'kcal_supply', 'fat_supply', 'prot_supply']]
q16_df.fillna(0, inplace=True)

####################################################
# Create the MySQL Table and import the dataframe
####################################################

the_table = 'dispo_alim'

drop_a_table(the_table)

the_request = f"""
        CREATE TABLE {the_table} (
        country_code_pk1 SMALLINT UNSIGNED NOT NULL,
        product_code_pk2 SMALLINT UNSIGNED NOT NULL,
        year_pk3 SMALLINT UNSIGNED NOT NULL,
        country VARCHAR(60) NOT NULL,
        population INT UNSIGNED,
        product VARCHAR(60) NOT NULL,
        food_origin VARCHAR(60),
        tons_supply FLOAT(12,2),
        kcal_supply FLOAT(12,2),
        fat_supply FLOAT(12,2),
        prot_supply FLOAT(12,2),
        PRIMARY KEY (country_code_pk1, product_code_pk2, year_pk3)
        )
        ENGINE=INNODB
    """

sql_request(the_request)

# Import the dataframe
from_df_to_sql(q16_df, the_table)

# Check if the table is OK
the_rows = sql_request(f"SELECT * FROM {the_table} LIMIT 10", read=True)
read_result(the_rows)

Result OK:

(1, 2511, 2012, 'Arménie', 2969000, 'Blé', 'vegetable', 376884.88, 995.0, 3.53, 29.69)
(1, 2511, 2013, 'Arménie', 2977000, 'Blé', 'vegetable', 388796.19, 1024.0, 3.6, 30.52)
(1, 2513, 2012, 'Arménie', 2969000, 'Orge', 'vegetable', 504.73, 1.0, 0.01, 0.03)
(1, 2513, 2013, 'Arménie', 2977000, 'Orge', 'vegetable', 0.0, 0.0, 0.0, 0.0)
(1, 2514, 2012, 'Arménie', 2969000, 'Maïs', 'vegetable', 89.07, 0.0, 0.0, 0.01)
(1, 2514, 2013, 'Arménie', 2977000, 'Maïs', 'vegetable', 89.31, 0.0, 0.0, 0.01)
(1, 2515, 2012, 'Arménie', 2969000, 'Seigle', 'vegetable', 445.35, 1.0, 0.01, 0.03)
(1, 2515, 2013, 'Arménie', 2977000, 'Seigle', 'vegetable', 357.24, 1.0, 0.0, 0.02)
(1, 2516, 2012, 'Arménie', 2969000, 'Avoine', 'vegetable', 950.08, 2.0, 0.03, 0.08)
(1, 2516, 2013, 'Arménie', 2977000, 'Avoine', 'vegetable', 1101.49, 2.0, 0.03, 0.09)

___

# Part 17

## Objectifs

- Création d'une table "equilibre_prod" contenant toutes les informations sur la transformation et l'exploitation des différents produits.
- Détermination d'une clé primaire pertinente

___

## Méthode

- J'importe les données depuis le site de la FAO
- Je crée un dataframe 
- Je crée une table au sein de MySQL
- J'importe le dataframe dans MySQL

___

## Code et résultats

In [14]:
#########################
# Create the DataFrame
#########################

q17_df = pd.read_csv("data/part2-equilibre_prod.csv")

q17_df = pd.pivot_table(
            q17_df,
            index=['Code Pays', 'Code Produit', 'Année', 'Pays', 'Produit'],
            values='Valeur',
            columns='Élément',
            aggfunc = np.sum,
        )

q17_df.reset_index(inplace=True)


# Rename, clean and export CSV

the_columns = {
    'Code Pays': 'country_code_pk1',
    'Code Produit': 'product_code_pk2',
    'Année': 'year_pk3',
    'Pays': 'country',
    'Produit': 'product',
    'Aliments pour animaux': 'animal_food',
    'Autres Utilisations': 'other_uses',
    'Disponibilité intérieure': 'domestic_supply_quantity',
    'Nourriture': 'food',
    'Pertes': 'losses',
    'Semences': 'seed',
    'Traitement': 'processed'
}

q17_df.rename(columns=the_columns, inplace=True)
q17_df.fillna(0, inplace=True)

##################################################
# Create the MySQL Table and import the DataFrame
##################################################

the_table = 'equilibre_prod'

drop_a_table(the_table)

the_request = f"""
        CREATE TABLE {the_table} (
        country_code_pk1 SMALLINT UNSIGNED NOT NULL,
        product_code_pk2 SMALLINT UNSIGNED NOT NULL,
        year_pk3 SMALLINT UNSIGNED NOT NULL,
        country VARCHAR(60) NOT NULL,
        product VARCHAR(60) NOT NULL,
        animal_food FLOAT(12,2),
        other_uses FLOAT(12,2),
        domestic_supply_quantity FLOAT(12,2),
        food FLOAT(12,2),
        losses FLOAT(12,2),
        seed FLOAT(12,2),
        processed FLOAT(12,2),
        PRIMARY KEY (country_code_pk1, product_code_pk2, year_pk3)
        )
        ENGINE=INNODB
        """

sql_request(the_request)

# Import the dataframe
from_df_to_sql(q17_df, the_table)

# Check if the table is OK
the_rows = sql_request(f"SELECT * FROM {the_table} LIMIT 10", read=True)
read_result(the_rows)

Result OK:

(1, 2511, 2012, 'Arménie', 'Blé', 92.0, 0.0, 532.0, 377.0, 29.0, 23.0, 10.0)
(1, 2511, 2013, 'Arménie', 'Blé', 93.0, 0.0, 554.0, 389.0, 32.0, 30.0, 10.0)
(1, 2513, 2012, 'Arménie', 'Orge', 121.0, 16.0, 172.0, 1.0, 14.0, 14.0, 7.0)
(1, 2513, 2013, 'Arménie', 'Orge', 137.0, 26.0, 198.0, 0.0, 15.0, 14.0, 7.0)
(1, 2514, 2012, 'Arménie', 'Maïs', 53.0, 0.0, 58.0, 0.0, 5.0, 0.0, 0.0)
(1, 2514, 2013, 'Arménie', 'Maïs', 96.0, 0.0, 102.0, 0.0, 7.0, 0.0, 0.0)
(1, 2515, 2012, 'Arménie', 'Seigle', 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0)
(1, 2515, 2013, 'Arménie', 'Seigle', 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0)
(1, 2516, 2012, 'Arménie', 'Avoine', 3.0, 0.0, 4.0, 1.0, 0.0, 0.0, 0.0)
(1, 2516, 2013, 'Arménie', 'Avoine', 4.0, 0.0, 6.0, 1.0, 0.0, 0.0, 0.0)

___

# Part 18

## Objectifs

- Création d'une table "sous_nutrition" contenant les informations sur le nombre de personnes en sous-nutrition par pays et par année.
- Détermination d'une clé primaire pertinente

___

## Méthode

- J'importe les données depuis le site de la FAO
- Je crée un dataframe 
- Je crée une table au sein de MySQL
- J'importe le dataframe dans MySQL

___

## Code et résultats

In [16]:
#########################
# Create the DataFrame
#########################

q18_df = pd.read_csv("data/part2-sous_nutrition.csv")[['Code zone', 'Code année', 'Zone', 'Valeur']]

the_columns = {
    'Code zone': 'country_code_pk1',
    'Zone': 'country',
    'Code année': 'year_pk2',
    'Valeur': 'undernourished'
    
}

q18_df.rename(columns=the_columns, inplace=True)

# Clean / normalize the data
q18_df['undernourished'].fillna(0, inplace=True)
q18_df['undernourished'] = q18_df['undernourished'] * 1000000
q18_df['undernourished'] = q18_df['undernourished'].astype(int)

# Function to apply on the "year" column
def year_format(year_code):
    """ From year_code format (XXXXXXX) to standard year format (XXXX) """
    
    if year_code == 20112013:
        return 2012

    elif year_code == 20122014:
        return 2013
    
    elif year_code == 20132015:
        return 2014
    
    elif year_code == 20142016:
        return 2015
    
    elif year_code == 20152017:
        return 2016
    
    elif year_code == 20162018:
        return 2017

# Apply the standard year format XXXX
q18_df['year_pk2'] = q18_df['year_pk2'].apply(year_format)

##################################################
# Create the MySQL Table and import the dataframe
##################################################

the_table = 'sous_nutrition'

drop_a_table(the_table)

the_request = f"""
        CREATE TABLE {the_table} (
        country_code_pk1 SMALLINT UNSIGNED NOT NULL,
        year_pk2 SMALLINT UNSIGNED NOT NULL,
        country VARCHAR(60) NOT NULL,
        undernourished INT,
        PRIMARY KEY (country_code_pk1, year_pk2)
        )
        ENGINE=INNODB
        """

sql_request(the_request)

# Import the dataframe
from_df_to_sql(q18_df, the_table)

# Check if the table is OK
the_rows = sql_request(f"SELECT * FROM {the_table} LIMIT 10", read=True)
read_result(the_rows)

Result OK:

(1, 2012, 'Arménie', 100000)
(1, 2013, 'Arménie', 100000)
(1, 2014, 'Arménie', 100000)
(1, 2015, 'Arménie', 100000)
(1, 2016, 'Arménie', 100000)
(2, 2012, 'Afghanistan', 7200000)
(2, 2013, 'Afghanistan', 8100000)
(2, 2014, 'Afghanistan', 9000000)
(2, 2015, 'Afghanistan', 9900000)
(2, 2016, 'Afghanistan', 10500000)

# Récapitulatif des tables SQL

### population :
- country_code_pk1 (smallint)
- year_pk2 (smallint)
- country (varchar)
- population (int)

___

### sous_nutrition
- country_code_pk1 (smallint)
- year_pk2 (smallint)
- country (varchar)
- undernourished (int)

___

### dispo_alim :
- country_code_pk1 (smallint)
- product_code_pk2 (smallint)
- year_pk3 (smallint)
- country (varchar)
- population (int)
- product (varchar)
- food_origin (varchar)
- tons_supply (float)
- kcal_supply (float)
- fat_supply (float)
- prot_supply (float)

___

### equilibre_prod
- country_code_pk1 (smallint)
- product_code_pk2 (smallint)
- year_pk3 (smallint)
- country (varchar)
- product (varchar)
- animal_food (float)
- other_uses (float)
- domestic_supply_quantity (float)
- food (float)
- losses (float)
- seed (float)
- processed (float)

___

# Part 19a1

## Objectifs

Identifier les 10 pays ayant le plus haut ratio en disponibilité alimentaire par habitant en termes de protéïnes par habitant.

___

## Méthode

Requête sur la table dispo_alim, sur l'année 2013.

___

## Code et résultats

In [26]:
my_request = """
                SELECT year_pk3 as year, country, SUM(prot_supply / 1000 * 365) as prot_supply_per_people
                FROM dispo_alim
                WHERE year_pk3='2013'
                GROUP BY year, country
                ORDER BY prot_supply_per_people DESC
                LIMIT 20
                """

rows = sql_request(my_request, read=True)
df_q19_1 = pd.DataFrame(columns=['year', 'country', 'prot_supply_per_people'])

# The request returns rows
if isinstance(rows, list):
    # Parse the list
    for row in rows:
        df_q19_1 = df_q19_1.append({
            'year': row[0],
            'country': row[1],
            'prot_supply_per_people': row[2]
        },
        ignore_index=True
        )
    # Print the dataframe
    display(df_q19_1)
    
# The request returns an error message
else:
    print(rows)

    year                   country  prot_supply_per_people
0   2013                   Islande               48.566900
1   2013  Chine - RAS de Hong-Kong               47.110550
2   2013                    Israël               46.720000
3   2013                  Lituanie               45.391400
4   2013                  Maldives               44.646800
5   2013                  Finlande               42.909400
6   2013                Luxembourg               41.478600
7   2013                Monténégro               40.843500
8   2013                  Pays-Bas               40.682900
9   2013                   Albanie               40.650049
10  2013                  Portugal               40.467550
11  2013                   Norvège               40.416450
12  2013                    France               40.332500
13  2013                     Malte               40.263150
14  2013                   Irlande               40.117150
15  2013     États-Unis d'Amérique               39.938300
16  2013                  Danemark               39.690101
17  2013                     Grèce               39.657250
18  2013                    Italie               39.598850
19  2013                    Koweït               39.474751

___

# Part 19a2

## Objectifs

Identifier les 10 pays ayant le plus haut ratio en disponibilité alimentaire par habitant en termes de kilo-calories par habitant.

___

## Méthode

Requête sur la table dispo_alim.

___

## Code et résultats

In [18]:
my_request = """
                SELECT year_pk3 as year, country, SUM(kcal_supply * 365) as kcal_supply_per_people
                FROM dispo_alim
                WHERE year_pk3='2013'
                GROUP BY year, country
                ORDER BY kcal_supply_per_people DESC
                LIMIT 20
                """

rows = sql_request(my_request, read=True)
df_q19_2 = pd.DataFrame(columns=['year', 'country', 'kcal_supply_per_people'])

# The request returns rows
if isinstance(rows, list):
    # Parse the list
    for row in rows:
        df_q19_2 = df_q19_2.append({
            'year': row[0],
            'country': row[1],
            'kcal_supply_per_people': row[2]
        },
        ignore_index=True
        )
        
    # Print the dataframe
    display(df_q19_2)
    
# The request returns an error message
else:
    print(rows)

    year                country  kcal_supply_per_people
0   2013               Autriche               1376050.0
1   2013               Belgique               1364005.0
2   2013                Turquie               1353420.0
3   2013  États-Unis d'Amérique               1343930.0
4   2013                 Israël               1317650.0
5   2013                Irlande               1314730.0
6   2013                 Italie               1305970.0
7   2013             Luxembourg               1292100.0
8   2013                 Égypte               1284070.0
9   2013              Allemagne               1278595.0
10  2013                 Canada               1277135.0
11  2013                 Koweït               1277135.0
12  2013             Monténégro               1273850.0
13  2013                Norvège               1271295.0
14  2013                 France               1270930.0
15  2013               Portugal               1267280.0
16  2013                Pologne               1259250.0
17  2013            Royaume-Uni               1250125.0
18  2013               Lituanie               1246110.0
19  2013                   Cuba               1241730.0

# Part 19b

## Objectifs

- Identifie les 10 pays ayant le plus faible ratio **disponibilité alimentaire / habitant** en termes de de protéïnes.
- L'identification sera menée pour chaque année disponible

## Méthode

Union de deux requêtes agrégées, sur la table dispo_alim.

In [20]:
my_request = """
                (SELECT year_pk3 as year, country, SUM(prot_supply / 1000 * 365) as prot_supply_per_people
                FROM dispo_alim
                GROUP BY year, country
                HAVING year = '2013'
                ORDER BY prot_supply_per_people ASC
                LIMIT 10)
                UNION
                (SELECT year_pk3 as year, country, SUM(prot_supply / 1000 * 365) as prot_supply_per_people
                FROM dispo_alim
                GROUP BY year, country
                HAVING year = '2012'
                ORDER BY prot_supply_per_people ASC
                LIMIT 10)
                """

rows = sql_request(my_request, read=True)
df_q19_3 = pd.DataFrame(columns=['year', 'country', 'prot_supply_per_people'])

# The request returns rows
if isinstance(rows, list):
    # Parse the list
    for row in rows:
        df_q19_3 = df_q19_3.append({
            'year': row[0],
            'country': row[1],
            'prot_supply_per_people': row[2]
        },
        ignore_index=True
        )
        
    # Print the dataframe
    display(df_q19_3)

# The request returns an error message
else:
    print(rows)

    year                    country  prot_supply_per_people
0   2013                    Libéria                13.74590
1   2013              Guinée-Bissau                16.07825
2   2013                 Mozambique                16.67320
3   2013  République centrafricaine                16.80460
4   2013                 Madagascar                17.04185
5   2013                      Haïti                17.41050
6   2013                   Zimbabwe                17.63680
7   2013                      Congo                18.76465
8   2013                    Ouganda                19.21360
9   2013       Sao Tomé-et-Principe                19.38150
10  2012                    Libéria                13.89555
11  2012              Guinée-Bissau                15.98700
12  2012                 Mozambique                17.12580
13  2012                      Haïti                17.23165
14  2012                 Madagascar                17.24625
15  2012                      Congo                18.06385
16  2012                   Zimbabwe                18.51280
17  2012  République centrafricaine                19.27200
18  2012       Sao Tomé-et-Principe                19.35960
19  2012                    Ouganda                19.59685

___

# Part 19c

## Objectifs

- Identifier la quantité totale de produits perdus cumulée par pays et par année.

___

## Méthode

Requête sur la table equilibre_prod.

___

## Code et résultats

In [22]:
my_request = """
                SELECT year_pk3 as year, country, SUM(losses * 1000000) as losses
                FROM equilibre_prod
                GROUP BY year, country
                ORDER BY losses DESC
                """

rows = sql_request(my_request, read=True)
df_q19_4 = pd.DataFrame(columns=['year', 'country', 'losses'])

# The request returns rows
if isinstance(rows, list):
    # Parse the list
    for row in rows:
        df_q19_4 = df_q19_4.append({
            'year': row[0],
            'country': row[1],
            'losses': row[2]
        },
        ignore_index=True
        )
        
    # Print the dataframe
    display(df_q19_4)

# The request returns an error message
else:
    print(rows)

     year                                     country        losses
0    2013                                       Chine  9.035800e+10
1    2013                         Chine, continentale  8.957500e+10
2    2012                                       Chine  8.863100e+10
3    2012                         Chine, continentale  8.784900e+10
4    2013                                      Brésil  7.591400e+10
5    2012                                      Brésil  7.389700e+10
6    2013                                        Inde  5.593000e+10
7    2012                                        Inde  5.164000e+10
8    2013                                     Nigéria  1.985400e+10
9    2012                                     Nigéria  1.965000e+10
10   2012                                   Indonésie  1.336900e+10
11   2013                                   Indonésie  1.308100e+10
12   2013                                     Turquie  1.203600e+10
13   2012                                     Turquie  1.150500e+10
14   2012                                     Mexique  8.418000e+09
15   2013                                     Mexique  8.289000e+09
16   2012                                      Égypte  7.632000e+09
17   2013                                      Égypte  7.608000e+09
18   2013                                       Ghana  7.442000e+09
19   2012                       États-Unis d'Amérique  7.225000e+09
20   2013                       États-Unis d'Amérique  7.162000e+09
21   2012                                       Ghana  6.963000e+09
22   2013                                    Viet Nam  6.743000e+09
23   2012                                    Viet Nam  6.562000e+09
24   2013                                    Pakistan  5.897000e+09
25   2012                                   Thaïlande  5.796000e+09
26   2013                                   Thaïlande  5.749000e+09
27   2012                                    Pakistan  5.659000e+09
28   2012              Iran (République islamique d')  5.518000e+09
29   2013              Iran (République islamique d')  5.450000e+09
30   2013                        Fédération de Russie  4.997000e+09
31   2013                                      Angola  4.799000e+09
32   2012                        Fédération de Russie  4.257000e+09
33   2013                                     Ukraine  4.138000e+09
34   2013                                  Bangladesh  4.080000e+09
35   2013                                    Cameroun  3.981000e+09
36   2012                                  Bangladesh  3.913000e+09
37   2012                                    Cameroun  3.896000e+09
38   2013                                   Allemagne  3.781000e+09
39   2013                                     Algérie  3.753000e+09
40   2012                                   Allemagne  3.734000e+09
41   2013                                       Pérou  3.627000e+09
42   2012                                     Ukraine  3.607000e+09
43   2012                                       Pérou  3.539000e+09
44   2013                                   Argentine  3.522000e+09
45   2013                                      France  3.261000e+09
46   2012                                 Philippines  3.239000e+09
47   2013                 République-Unie de Tanzanie  3.236000e+09
48   2012                 République-Unie de Tanzanie  3.193000e+09
49   2012                                      France  3.106000e+09
50   2012                                     Algérie  2.984000e+09
51   2012                                   Argentine  2.965000e+09
52   2013                                 Philippines  2.901000e+09
53   2012                                     Pologne  2.830000e+09
54   2012                                      Angola  2.796000e+09
55   2012                                       Japon  2.790000e+09
56   2013                                       Japon  2.761000e+09
57   2013                                     Pologne  2.710000e+09
58   2013                                     Espagne  2.581000e+09
59   2013                         République de Corée  2.496000e+09
60   2013                                      Malawi  2.428000e+09
61   2013                                     Myanmar  2.398000e+09
62   2012                                     Espagne  2.397000e+09
63   2012                                     Myanmar  2.357000e+09
64   2012                         République de Corée  2.296000e+09
65   2013                                       Maroc  2.277000e+09
66   2012                                      Malawi  2.257000e+09
67   2013                                    Éthiopie  2.256000e+09
68   2012                                       Maroc  2.224000e+09
69   2013                              Afrique du Sud  2.193000e+09
70   2013                                Sierra Leone  2.191000e+09
71   2012                                       Népal  2.153000e+09
72   2012                                    Éthiopie  2.141000e+09
73   2013                                      Canada  2.118000e+09
74   2013                                       Népal  2.110000e+09
75   2012                                Sierra Leone  2.064000e+09
76   2013                                    Colombie  2.040000e+09
77   2012                              Afrique du Sud  1.994000e+09
78   2013                                    Cambodge  1.984000e+09
79   2012                                      Canada  1.968000e+09
80   2012                                    Cambodge  1.944000e+09
81   2012                                    Colombie  1.924000e+09
82   2012                                      Italie  1.867000e+09
83   2013                                      Italie  1.861000e+09
84   2013                                    Paraguay  1.823000e+09
85   2013                               Côte d'Ivoire  1.669000e+09
86   2013                                  Kazakhstan  1.652000e+09
87   2013                                   Guatemala  1.534000e+09
88   2013                                        Iraq  1.529000e+09
89   2012                               Côte d'Ivoire  1.518000e+09
90   2012                                   Guatemala  1.502000e+09
91   2012                                       Kenya  1.464000e+09
92   2012                                  Kazakhstan  1.450000e+09
93   2013                                       Kenya  1.444000e+09
94   2013                                       Bénin  1.357000e+09
95   2012                                        Iraq  1.297000e+09
96   2012                                       Niger  1.276000e+09
97   2013                                       Niger  1.240000e+09
98   2012                                       Bénin  1.214000e+09
99   2013      Venezuela (République bolivarienne du)  1.190000e+09
100  2013                                  Mozambique  1.163000e+09
101  2012                                  Mozambique  1.156000e+09
102  2013                                 Royaume-Uni  1.144000e+09
103  2013                                 Afghanistan  1.135000e+09
104  2012                                 Afghanistan  1.113000e+09
105  2012      Venezuela (République bolivarienne du)  1.106000e+09
106  2012                                 Royaume-Uni  1.102000e+09
107  2013                                    Bulgarie  1.090000e+09
108  2013                                      Guinée  1.074000e+09
109  2013  République populaire démocratique de Corée  1.066000e+09
110  2012                                  Madagascar  1.066000e+09
111  2013                                  Costa Rica  1.058000e+09
112  2013                                       Grèce  1.057000e+09
113  2013                             Arabie saoudite  1.040000e+09
114  2012  République populaire démocratique de Corée  1.015000e+09
115  2012                                  Costa Rica  9.970000e+08
116  2012                                       Chili  9.940000e+08
117  2013                                     Ouganda  9.910000e+08
118  2012                                       Grèce  9.880000e+08
119  2012                             Arabie saoudite  9.870000e+08
120  2013                                       Chili  9.780000e+08
121  2013                                  Madagascar  9.660000e+08
122  2012                                      Guinée  9.650000e+08
123  2012                                    Paraguay  9.470000e+08
124  2012                                     Ouganda  9.360000e+08
125  2013                                 Ouzbékistan  8.130000e+08
126  2012                                    Bulgarie  7.820000e+08
127  2012                                    Équateur  7.360000e+08
128  2013                                    Roumanie  7.270000e+08
129  2012                                     Tunisie  7.170000e+08
130  2012                                 Ouzbékistan  7.130000e+08
131  2012                                    Malaisie  7.110000e+08
132  2013                                     Tunisie  7.100000e+08
133  2013                                      Serbie  7.070000e+08
134  2013                                    Équateur  7.070000e+08
135  2013                         Émirats arabes unis  7.050000e+08
136  2012                         Émirats arabes unis  6.950000e+08
137  2013                                       Haïti  6.790000e+08
138  2013                                    Malaisie  6.790000e+08
139  2012                                     Bélarus  6.510000e+08
140  2013                                Burkina Faso  6.430000e+08
141  2012                                Burkina Faso  6.270000e+08
142  2012                                       Haïti  6.110000e+08
143  2012                                   Australie  6.070000e+08
144  2013                                    Pays-Bas  5.970000e+08
145  2012                                        Mali  5.940000e+08
146  2012                                    Danemark  5.910000e+08
147  2013                                        Cuba  5.910000e+08
148  2013                                    Danemark  5.820000e+08
149  2012                                    Pays-Bas  5.750000e+08
150  2013                                     Bélarus  5.710000e+08
151  2012                                        Cuba  5.680000e+08
152  2013                   Chine, Taiwan Province de  5.650000e+08
153  2013                                    Belgique  5.640000e+08
154  2012                                    Roumanie  5.620000e+08
155  2012                                    Belgique  5.580000e+08
156  2012                   Chine, Taiwan Province de  5.580000e+08
157  2013                                        Mali  5.470000e+08
158  2012                                      Serbie  5.460000e+08
159  2013                      République dominicaine  5.400000e+08
160  2013                                     Uruguay  5.310000e+08
161  2012                                       Tchad  5.270000e+08
162  2012                                     Uruguay  5.220000e+08
163  2013                                   Australie  5.200000e+08
164  2012                      République dominicaine  5.190000e+08
165  2012                                        Togo  5.150000e+08
166  2013                                    Portugal  5.090000e+08
167  2012                                    Portugal  5.010000e+08
168  2013                                   Sri Lanka  4.920000e+08
169  2013                                        Togo  4.760000e+08
170  2013                                    Autriche  4.590000e+08
171  2013                                       Tchad  4.590000e+08
172  2012                                    Autriche  4.520000e+08
173  2013             Bolivie (État plurinational de)  4.500000e+08
174  2012                                   Sri Lanka  4.410000e+08
175  2012             Bolivie (État plurinational de)  4.410000e+08
176  2013                                    Honduras  4.370000e+08
177  2013       République démocratique populaire lao  4.350000e+08
178  2013                                      Rwanda  4.350000e+08
179  2012                                      Rwanda  4.190000e+08
180  2013                                     Hongrie  4.110000e+08
181  2012       République démocratique populaire lao  4.070000e+08
182  2013                                    Jordanie  3.890000e+08
183  2012                                    Honduras  3.830000e+08
184  2012                                     Hongrie  3.760000e+08
185  2012                                    Jordanie  3.740000e+08
186  2013                            Nouvelle-Zélande  3.620000e+08
187  2012                            Nouvelle-Zélande  3.610000e+08
188  2012                                     Sénégal  3.530000e+08
189  2013                                       Congo  3.420000e+08
190  2013                                     Sénégal  3.340000e+08
191  2012                                       Suède  3.320000e+08
192  2013                                   Nicaragua  3.300000e+08
193  2012                                       Congo  3.210000e+08
194  2012                                   Nicaragua  3.180000e+08
195  2012                                       Yémen  3.040000e+08
196  2013                                       Suède  3.010000e+08
197  2013                       République de Moldova  2.890000e+08
198  2013                                     Albanie  2.760000e+08
199  2013                                Turkménistan  2.720000e+08
200  2012                                Turkménistan  2.720000e+08
201  2012                                     Albanie  2.710000e+08
202  2013                               Tchéquie (la)  2.710000e+08
203  2013                          Bosnie-Herzégovine  2.710000e+08
204  2012                                 Tadjikistan  2.690000e+08
205  2012                               Tchéquie (la)  2.690000e+08
206  2013                                       Yémen  2.690000e+08
207  2012                                 El Salvador  2.670000e+08
208  2013                                 Tadjikistan  2.660000e+08
209  2013                                 El Salvador  2.540000e+08
210  2013                                       Liban  2.540000e+08
211  2012                                       Liban  2.470000e+08
212  2012                                      Zambie  2.470000e+08
213  2012                          Bosnie-Herzégovine  2.450000e+08
214  2013                                      Zambie  2.420000e+08
215  2012                                      Israël  2.400000e+08
216  2013                                     Irlande  2.360000e+08
217  2013                                 Azerbaïdjan  2.320000e+08
218  2013     l'ex-République yougoslave de Macédoine  2.300000e+08
219  2013                                     Arménie  2.280000e+08
220  2012                    Chine - RAS de Hong-Kong  2.240000e+08
221  2013                                       Gabon  2.230000e+08
222  2013                                      Israël  2.200000e+08
223  2012                       République de Moldova  2.180000e+08
224  2013                    Chine - RAS de Hong-Kong  2.160000e+08
225  2012                                     Irlande  2.150000e+08
226  2012                                       Gabon  2.140000e+08
227  2012                                     Arménie  2.130000e+08
228  2012     l'ex-République yougoslave de Macédoine  2.080000e+08
229  2013                                    Slovénie  2.030000e+08
230  2012                                    Slovénie  1.980000e+08
231  2013                                    Zimbabwe  1.880000e+08
232  2012                                      Guyana  1.880000e+08
233  2012                                    Zimbabwe  1.870000e+08
234  2013                                      Guyana  1.860000e+08
235  2012                                    Lituanie  1.730000e+08
236  2012                                   Slovaquie  1.680000e+08
237  2013                                      Soudan  1.670000e+08
238  2013                                Kirghizistan  1.640000e+08
239  2013                                   Slovaquie  1.630000e+08
240  2012                                 Azerbaïdjan  1.610000e+08
241  2013                                      Koweït  1.590000e+08
242  2013                                      Suisse  1.530000e+08
243  2012                                Kirghizistan  1.530000e+08
244  2013                                      Panama  1.510000e+08
245  2013                                    Lituanie  1.470000e+08
246  2012                                      Suisse  1.450000e+08
247  2012                                      Soudan  1.440000e+08
248  2013                                     Croatie  1.430000e+08
249  2012                                     Norvège  1.400000e+08
250  2012                                      Panama  1.400000e+08
251  2013                                     Norvège  1.340000e+08
252  2012                   République centrafricaine  1.320000e+08
253  2012                                     Libéria  1.270000e+08
254  2013                   République centrafricaine  1.220000e+08
255  2012                                     Croatie  1.170000e+08
256  2012                                      Koweït  1.150000e+08
257  2013                                        Oman  1.130000e+08
258  2013                                     Libéria  1.110000e+08
259  2013                                     Namibie  1.070000e+08
260  2012                                     Namibie  1.010000e+08
261  2012                                        Oman  9.200000e+07
262  2012                                    Jamaïque  9.000000e+07
263  2013                                    Jamaïque  8.800000e+07
264  2013                                     Géorgie  8.700000e+07
265  2012                                  Mauritanie  8.000000e+07
266  2013                                  Mauritanie  7.500000e+07
267  2013                               Guinée-Bissau  6.600000e+07
268  2012                                     Géorgie  6.600000e+07
269  2012                               Guinée-Bissau  5.500000e+07
270  2012                                    Lettonie  5.500000e+07
271  2013                                    Lettonie  5.200000e+07
272  2012                                    Botswana  5.100000e+07
273  2013                                     Lesotho  5.100000e+07
274  2013                                    Botswana  5.100000e+07
275  2013                                      Chypre  5.000000e+07
276  2012                                      Chypre  5.000000e+07
277  2012                                     Lesotho  4.800000e+07
278  2013                                    Eswatini  4.600000e+07
279  2013                                    Mongolie  4.500000e+07
280  2013                                    Suriname  4.400000e+07
281  2012                                    Mongolie  4.400000e+07
282  2012                                    Eswatini  4.300000e+07
283  2013                                    Finlande  4.000000e+07
284  2012                                    Finlande  3.900000e+07
285  2012                                      Gambie  3.400000e+07
286  2013                                      Gambie  3.300000e+07
287  2013                                  Monténégro  3.300000e+07
288  2013                                     Vanuatu  3.300000e+07
289  2012                                  Monténégro  3.200000e+07
290  2012                                     Vanuatu  3.100000e+07
291  2012                                    Suriname  3.100000e+07
292  2012                           Trinité-et-Tobago  2.100000e+07

___

# Part 19d

## Objectifs

- Identifier les 10 pays pour lesquels la proportion de personnes sous-alimentées est la plus forte

___

## Méthode

Requête sur la table sous_nutrition + jointure avec la table population.

___

## Code et résultats

In [23]:
my_request = """
                SELECT sn.year_pk2 AS year,
                        sn.country AS country,
                        sn.undernourished AS undernourished,
                        pop.population AS population,
                        (sn.undernourished / pop.population) as ratio
                FROM sous_nutrition sn
                
                LEFT JOIN population pop
                    ON sn.country_code_pk1 = pop.country_code_pk1
                        AND sn.year_pk2 = pop.year_pk2
                
                WHERE sn.year_pk2 = '2013'
                ORDER BY ratio DESC
                
                LIMIT 10
                """

rows = sql_request(my_request, read=True)
df_q19_5 = pd.DataFrame(columns=['year', 'country', 'undernourished', 'population', 'ratio'])

# The request returns rows
if isinstance(rows, list):
    # Parse the list
    for row in rows:
        df_q19_5 = df_q19_5.append({
            'year': row[0],
            'country': row[1],
            'undernourished': row[2],
            'population': row[3],
            'ratio': row[4]
        },
        ignore_index=True
        )
        
    # Print the dataframe
    display(df_q19_5)

# The request returns an error message
else:
    print(rows)

,year,country,undernourished,population,ratio
0,2013,Haïti,5200000,10317000,0.5040
1,2013,Zambie,7000000,14539000,0.4815
2,2013,Zimbabwe,6700000,14150000,0.4735
3,2013,République centrafricaine,2100000,4616000,0.4549
4,2013,République populaire démocratique de Corée,10400000,24895000,0.4178
5,2013,Congo,1800000,4448000,0.4047
6,2013,Tchad,4900000,12825000,0.3821
7,2013,Libéria,1600000,4294000,0.3726
8,2013,Angola,8000000,21472000,0.3726
9,2013,Madagascar,8199999,22925000,0.3577

___

# Part 19e

## Objectifs

- Identifier les 10 produits pour lesquels le ratio **Other Uses / Domestic Supply** est le plus élevé.

___

## Méthode

Requête sur la table equilibre_prod.

___

## Code et résultats

In [12]:
# Question 19 - Part 6 : other uses / domestic supply by country

my_request = """
                SELECT year_pk3 as year,
                        country,
                        product,
                        other_uses as other,
                        domestic_supply_quantity as supply,
                        other_uses / domestic_supply_quantity as ratio
                
                FROM equilibre_prod
                
                WHERE year_pk3 = '2013'
                ORDER BY ratio DESC
                LIMIT 10
                        
            """

rows = sql_request(my_request, read=True)

df_q19_6 = pd.DataFrame(columns=['year', 'country', 'product', 'other', 'supply', 'ratio'])

# The request returns rows
if isinstance(rows, list):
    # Parse the list
    for row in rows:
        df_q19_6 = df_q19_6.append({
            'year': row[0],
            'country': row[1],
            'product': row[2],
            'other': row[3],
            'supply': row[4],
            'ratio': row[5]
        },
        ignore_index=True
        )
        
    # Print the dataframe
    display(df_q19_6)
    
# The request returns an error message
else:
    print(rows)

,year,country,product,other,supply,ratio
0,2013,États-Unis d'Amérique,Huil Plantes Oleif Autr,222.0,44.0,5.045455
1,2013,Uruguay,Graisses Animales Crue,21.0,6.0,3.500000
2,2013,Norvège,Huile de Palme,18.0,9.0,2.000000
3,2013,Canada,"Plantes Oleiferes, Autre",41.0,21.0,1.952381
4,2013,Canada,Huil Plantes Oleif Autr,53.0,38.0,1.394737
5,2013,République de Moldova,Huile de Palme,4.0,3.0,1.333333
6,2013,Maroc,Huile de Palme,27.0,22.0,1.227273
7,2013,Roumanie,Huil Plantes Oleif Autr,11.0,9.0,1.222222
8,2013,Kazakhstan,Huile de Palme,11.0,9.0,1.222222
9,2013,Chili,Huil Plantes Oleif Autr,17.0,15.0,1.133333

## Commentaires

Certains produits on une quantité "Other Uses" supérieure au "Domestic Supply".

___

# Part 19f

## Objectifs

- Identifier les pays ayant le plus fort ratio **Other Uses / Domestic Supply**.

___

## Méthode

Requête sur la table equilibre_prod.

___

## Code et résultats

In [24]:
my_request = """
                SELECT year_pk3 as year,
                        country,
                        SUM(other_uses) as other,
                        SUM(domestic_supply_quantity) as supply,
                        SUM(other_uses) / SUM(domestic_supply_quantity) as ratio
                
                FROM equilibre_prod
                
                GROUP BY year_pk3, country
                HAVING year_pk3 = '2013'
                
                ORDER BY ratio DESC
                LIMIT 100
                        
            """

rows = sql_request(my_request, read=True)

df_q19_7 = pd.DataFrame(columns=['year', 'country', 'other', 'supply', 'ratio'])

# The request returns rows
if isinstance(rows, list):
    # Parse the list
    for row in rows:
        df_q19_7 = df_q19_7.append({
            'year': row[0],
            'country': row[1],
            'other': row[2],
            'supply': row[3],
            'ratio': row[4]
        },
        ignore_index=True
        )
        
    # Print the dataframe
    display(df_q19_7)
    
# The request returns an error message
else:
    print(rows)

,year,country,other,supply,ratio
0,2013,Kiribati,143.0,241.0,0.593361
1,2013,Vanuatu,400.0,700.0,0.571429
2,2013,Saint-Kitts-et-Nevis,35.0,65.0,0.538462
3,2013,Cambodge,9428.0,18839.0,0.500451
4,2013,Bermudes,22.0,59.0,0.372881
5,2013,Brésil,367300.0,1033314.0,0.355458
6,2013,Îles Salomon,237.0,695.0,0.341007
7,2013,République démocratique populaire lao,2221.0,8308.0,0.267333
8,2013,Saint-Vincent-et-les Grenadines,49.0,184.0,0.266304
9,2013,Samoa,86.0,336.0,0.255952
10,2013,Antigua-et-Barbuda,20.0,79.0,0.253165
11,2013,Émirats arabes unis,2689.0,11850.0,0.226920
12,2013,Djibouti,119.0,526.0,0.226236
13,2013,Bahamas,96.0,472.0,0.203390
14,2013,Nouvelle-Calédonie,55.0,272.0,0.202206
15,2013,États-Unis d'Amérique,154699.0,777992.0,0.198844
16,2013,Suriname,124.0,643.0,0.192846
17,2013,Nouvelle-Zélande,1395.0,8127.0,0.171650
18,2013,Dominique,24.0,141.0,0.170213
19,2013,Maldives,56.0,337.0,0.166172
20,2013,Madagascar,2522.0,15216.0,0.165747
21,2013,Indonésie,34229.0,226930.0,0.150835
22,2013,Malte,85.0,609.0,0.139573
23,2013,Gambie,129.0,940.0,0.137234
24,2013,Polynésie française,44.0,335.0,0.131343
25,2013,Mali,1543.0,11823.0,0.130508
26,2013,Malaisie,3814.0,30411.0,0.125415
27,2013,Bénin,1433.0,11966.0,0.119756
28,2013,Belgique,3226.0,29358.0,0.109885
29,2013,Belize,163.0,1542.0,0.105707
30,2013,Irlande,1120.0,10738.0,0.104302
31,2013,Grenade,10.0,96.0,0.104167
32,2013,Équateur,1909.0,18614.0,0.102557
33,2013,Pays-Bas,4299.0,42461.0,0.101246
34,2013,Mozambique,2204.0,22023.0,0.100077
35,2013,France,14405.0,146905.0,0.098057
36,2013,Ghana,3768.0,38998.0,0.096620
37,2013,Jamaïque,393.0,4068.0,0.096608
38,2013,Cabo Verde,38.0,414.0,0.091787
39,2013,Islande,43.0,474.0,0.090717
40,2013,Norvège,816.0,9263.0,0.088092
41,2013,Panama,459.0,5273.0,0.087047
42,2013,Nigéria,16718.0,192388.0,0.086897
43,2013,Philippines,9387.0,108885.0,0.086210
44,2013,Liban,435.0,5221.0,0.083317
45,2013,Éthiopie,3641.0,44014.0,0.082724
46,2013,Oman,285.0,3518.0,0.081012
47,2013,Bosnie-Herzégovine,417.0,5272.0,0.079097
48,2013,Fidji,197.0,2499.0,0.078832
49,2013,"Chine, Taiwan Province de",2041.0,26121.0,0.078136
50,2013,Myanmar,4542.0,59191.0,0.076735
51,2013,Sénégal,562.0,7495.0,0.074983
52,2013,Chypre,96.0,1319.0,0.072782
53,2013,Israël,801.0,11267.0,0.071093
54,2013,Chili,1593.0,23263.0,0.068478
55,2013,Malawi,1296.0,19877.0,0.065201
56,2013,Finlande,641.0,10034.0,0.063883
57,2013,Barbade,28.0,461.0,0.060738
58,2013,Sri Lanka,730.0,12639.0,0.057758
59,2013,Danemark,1140.0,19749.0,0.057724
60,2013,Grèce,1302.0,22584.0,0.057651
61,2013,Ukraine,6519.0,113924.0,0.057222
62,2013,Paraguay,969.0,17016.0,0.056946
63,2013,Bulgarie,535.0,9458.0,0.056566
64,2013,Suède,1014.0,17950.0,0.056490
65,2013,Pérou,2410.0,42675.0,0.056473
66,2013,Canada,4450.0,79562.0,0.055931
67,2013,Lituanie,416.0,7467.0,0.055712
68,2013,Arménie,242.0,4388.0,0.055150
69,2013,Tchéquie (la),1061.0,19372.0,0.054770
70,2013,Royaume-Uni,5191.0,95695.0,0.054245
71,2013,Autriche,1001.0,19308.0,0.051844
72,2013,Kazakhstan,1594.0,30957.0,0.051491
73,2013,Brunéi Darussalam,15.0,294.0,0.051020
74,2013,Colombie,3917.0,77583.0,0.050488
75,2013,Suisse,627.0,12519.0,0.050084
76,2013,Chine - RAS de Hong-Kong,312.0,6424.0,0.048568
77,2013,Nicaragua,526.0,10888.0,0.048310
78,2013,Espagne,4872.0,101484.0,0.048008
79,2013,Allemagne,7711.0,162275.0,0.047518
80,2013,l'ex-République yougoslave de Macédoine,132.0,2791.0,0.047295
81,2013,République populaire démocratique de Corée,695.0,14876.0,0.046720
82,2013,Iraq,988.0,21723.0,0.045482
83,2013,Azerbaïdjan,539.0,11857.0,0.045458
84,2013,Australie,3032.0,66992.0,0.045259
85,2013,Guinée,371.0,8404.0,0.044146
86,2013,Slovaquie,335.0,7732.0,0.043326
87,2013,Lettonie,126.0,3045.0,0.041379
88,2013,Viet Nam,3815.0,95134.0,0.040101
89,2013,Algérie,1707.0,42630.0,0.040042
90,2013,Eswatini,257.0,6467.0,0.039740
91,2013,Cameroun,1027.0,26222.0,0.039166
92,2013,Chine,81058.0,2069661.0,0.039165
93,2013,"Chine, continentale",78688.0,2036726.0,0.038635
94,2013,Portugal,692.0,18274.0,0.037868
95,2013,République de Moldova,220.0,5833.0,0.037716
96,2013,Burkina Faso,451.0,12040.0,0.037458
97,2013,Argentine,4194.0,114369.0,0.036671
98,2013,Albanie,174.0,4758.0,0.036570
99,2013,Guyana,120.0,3290.0,0.036474

___

# Part 20

## Objectifs

- Identifier d'éventuelles utilisations sur le "Other Uses" des top produits identifiés en Part 19e

___

## Résultats

Les huiles, les plantes et les graisses animales sont utilisées en grande quantité dans la fabrication des produits de soins et de cosmétiques, notamment les savons.